<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <a asp-controller="home" asp-action="Index">Home</a>
    <a asp-action="index" asp-controller="about">About</a>
    <a asp-controller="blog" asp-action="index">Blog</a>
    <div>
        @RenderBody()
    </div>
</body>
</html>
